<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Distributed Proof of Work Dashboard">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dpow.nanocenter.org/">
    <meta property="og:image" content="{{ url_for('static', filename='dpow_white_on_blue.png') }}">
    <meta property="og:description" content="A dashboard showing the statistics for the Distributed Proof of Work Network.">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/powstyle.css">
    <link rel="shortcut icon" href="/static/tnc_favicon.png">
    <script src="static/moment.min.js"></script>
    <script src="static/Chart.min.js"></script>

    <title>Distributed Proof of Work Network Statistics</title>
</head>
<body style="background-color:#F4F5F9;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="https://nanocenter.org/"><img src="static/tnc_logo.png" style="width:200px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse ml-auto">
           <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="https://wiki.nanocenter.org/index.php?title=Distributed_Proof_of_Work_System">Frequently Asked Questions</a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/guilhermelawless/nano-dpow/tree/master/client">Provide Work</a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/guilhermelawless/nano-dpow/tree/master/service">Request Work</a></li>
          </ul>
        </div>
    </nav>

    <div class="jumbotron" style="display:block;margin-left:auto;margin-right:auto;width:100%">
      <img src="{{ url_for('static', filename='dpow_white_on_blue.png') }}" style="display:block;margin-left:auto;margin-right:auto;width:35%;height:auto;border-radius:20px;max-width:350px;">
    </div>